<link rel="stylesheet" href="<%=locals.assetPath('post_styles.css', 'css')%>" />

<% if (locals.user) { %>
    <form id="new-post-form" method="POST" action="/users/posts/create">
        <input type="text" name="post-title" id="post-title" placeholder="Post title here ...">
        <textarea name="post-content" id="post-content" cols="60" rows="20" placeholder="Post content here ..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
    <div class="show-posts">
        <h2>Show Posts Here</h2>
        <ul>
            <% for (let post of posts ) { %>
                <li id="post-<%= post._id%>">
                    <div class="title-close">
                        <h3><%=post.title%><span class="post-user-name"> - <%= post.user.name%></span></h3>
                        <% if(locals.user) { %>
                            <a class="like-post-btn" href="/users/like/?type=Post&id=<%=post._id%>">
                                <span>Likes</span>
                                &nbsp;
                                <span class="post-likes-count"><%=post.likes.length%></span>
                            </a>
                        <% } %>
                        <% if(locals.user && locals.user.id == post.user.id){ %>
                            <a href="/users/posts/destroy/<%= post._id%>" class="delete-post-btn">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        <% } %>
                    </div>
                    <p><%=post.content%></p>
                    <%- include('_comment', {post: post}); -%>
                    
                </li>
            <% } %>
        </ul>

    </div>