<link rel="stylesheet" href="/css/users_profile_styles.css">

<section id="users-profile">
    <% if(locals.user && locals.user.id == profile_user.id) { %>

        <!-- if user matches show the form -->
        <div class="profile-heading">
            <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>" class="profile-picture">
            <h2>Edit your Profile</h2>
        </div>
        
        <form method="POST" action="/users/profile-update/<%= profile_user.id %>" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="file" name="avatar" id="avatar-img" placeholder="Profile Picture">
            <input type="submit" value="Update" id="update-profile-btn">
        </form>
    <% } else { %>
    
        <!-- if user doesn't match show only profile info -->
        <% if(profile_user.avatar) { %>
            <div class="profile-pic-container">
                <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>" class="profile-picture-large">
            </div>
        <% } %>

        <% if(locals.user && locals.user.id != profile_user.id){ %>
            
            <%if(removeFreind){%>
                <a class="remove-freind-btn" href="/users/remove-freind/<%=profile_user.id%>">Remove Freind</a>    
            <%}else{%>
                <a class="add-freind-btn" href="/users/add-freind/<%=profile_user.id%>">Add Freind</a>
            <%} %>
        <% } %>
        
        <h1>Name : <%=profile_user.name%></h1>
        <h1>Email : <%=profile_user.email%></h1>
    <% } %>
</section>

<script src="/scripts/freinds.js"></script>
    